		<%= form_for(:section, :url => {:action => 'update', 
				:page_id => @page.id , :id => @section.id}) do |f| %>
				<div class="modal-body">
				<%= render(:partial => "form", :locals => {:f => f}) %>
			</div><!-- End body -->
      <div class="modal-footer ">
        <%= button_tag(type: 'submit', class: "btn btn-warning btn-lg", style: "width: 100%;", name: "commit") do %>
				 <span class="glyphicon glyphicon-ok-sign"></span>Update
				<% end %>
			</div><!-- End Footer -->
			<% end %>
