<% @page_title = "New" %>


<div class="container">
	<div class="row">
		<div class="col-sm-5">
			<h2>Create Admin User</h2>
			
				<%= form_for(:admin_user, :url => {:action => 'create'}) do |f| %>
					<%= render(:partial => "form", :locals => {:f => f}) %>	
				<div class="form-buttons">
					<%= link_to("Cancel", {:action => 'index'}, :class => 'btn btn-default btn-xs') %>
					<%= submit_tag("Create", :class => 'btn btn-success btn-xs') %>
				</div>
			  <% end %>
			</div>
		</div> 
</div>

