html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Open Sans',Verdana,Lucida,Arial,Helvetica,sans-serif; 
	font-weight: normal; 
	padding-top: 70px;
	margin-bottom: 60px;

}

h1, h2, h3 {
	font-weight: lighter;
}

/* Anchor tag anti-headbutt */
#top:before, [id*="section-"]:before
{ 
	/*-webkit-transition:.001s; 
	transition:.001s; 
	margin-top: 400px;
	border: 2px solid #D4D4D4;
	background-color: #e5eecc;*/

  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
	
}



/* Navbar Customizations
============================== */

.navbar .nav > li > a {
    color:  #aaa;
}

.navbar-nav > li:hover:not(#menuLogin) > .dropdown-menu {
  display: block;
}

.dropdown { 

	.dropdown-menu {
		background-color: #222;
		
		li > a {
			color: #fff;
		}
		li > a:hover,
		li > a:focus {
		  color: #fff;
		  text-decoration: none;
		  background-image: none;
		  background-color: #428fca;
		}
		li > .active > a,
		li > .active > a:hover,
		li > .active > a:focus {
		  color: #fff;
		  text-decoration: none;
		  background-image: none;
		  background-color: #428fca;
		  outline: 0;
		}
	}
}

#navLogin {
  color: #fff;
	background-image: none;
	position: relative;
}

.login-window {
	top: 50px;
  left: -126px;
  /*display: inline-block;*/
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  /*content: '';*/
  height: 140px;
}

#loginStatus {
	li {
		color: #fff;
		padding-bottom: 15px;
    padding-top: 15px;
    padding-right: 15px;
    line-height: 20px;
    display: block;
	}
}
.navbar-inverse .navbar-text {
    color: #fff;
    font-weight: lighter;
}


/* ==========================
End Navbar Customizations */

.jumbotron h1 {
	font-weight: lighter;
}

.page-header {
	padding-left: 60px;
}

.edit-button {
	font-size: 14px;
}

.section {
	padding-left: 60px;

}

aside h3 {
	/*padding-left: 15px;*/
}

.aside-title {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
}



.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  /*background-color: #f9f9f9;*/
  background-color: #ccc;
}

.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}

#footer {
	background-color: #333;
	height: 100px;
	color: #fff;
	text-align: right;
	padding: 10px 10px 0 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}
