html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Open Sans',Verdana,Lucida,Arial,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 16px; 
	padding-top: 70px;
	margin-bottom: 60px;

}

h1, h2, h3 {
	font-weight: lighter;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}

/* Anchor tag anti-headbutt */
#top:before, [id*="section-"]:before
{ 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
	
}



/* Navbar Customizations
============================== */

.navbar .nav > li > a {
    color:  #aaa;
}

@media(min-width:768px) {
	.navbar-nav > li:hover:not(#menuLogin) > .dropdown-menu {
	  display: block;
	}
}



.dropdown { 

	.dropdown-menu {
		background-color: #222;
		
		li > a {
			color: #fff;
		}
		li > a:hover,
		li > a:focus {
		  color: #fff;
		  text-decoration: none;
		  background-image: none;
		  background-color: #428fca;
		}
		li > .active > a,
		li > .active > a:hover,
		li > .active > a:focus {
		  color: #fff;
		  text-decoration: none;
		  background-image: none;
		  background-color: #428fca;
		  outline: 0;
		}
	}
}

#navLogin {
  color: #fff;
	background-image: none;
	position: relative;
}

.login-window {
	top: 50px;
  left: -126px;
  /*display: inline-block;*/
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  /*content: '';*/
  height: 140px;
}

#username {
	padding-left: 14px;
}
.navbar-inverse .navbar-text {
    color: #fff;
    font-weight: lighter;
}


/* ==========================
End Navbar Customizations */

.vertical-offset-100{
    padding-top:100px;
}

.jumbotron h1 {
	font-weight: lighter;
}

.page-header {
	padding-left: 60px;
}

.edit-button {
	font-size: 14px;
}

.section {
	padding-left: 60px;

}

aside h3 {
	/*padding-left: 15px;*/
}

.aside-title {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #222;
}

.caption {
	margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  /*background-color: #90928b;*/
  background-color: #ccc;
}
.table-hover > tbody > tr.danger > td {
	background-color: #fff;
	background-color: #f28989;
}

.table-hover > tbody > tr.danger:hover > td {
	background-color: #f00;
	color: #fff;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #428fca;
  color:#fff;
}

.dropdown-menu > li > a:hover {
	background-color: #428fca;
  color:#eeeeee;
  background-image: none;
}

/*.pagination {
  .previous_page { background:#7777ff; color:white }
  .previous_page.disabled { background: white; color: #777 }
  .current { background: yellow }
  .next_page { background: #7777ff; color: white }
  .next_page.disabled { background: white; color: #777 }
}*/

.editor {
	font-style: italic;
	margin-bottom: 2em;
}

.admin-thumbnail {
	margin-top: 1em;
	max-height: 150px;
	max-width: 150px;
}

#photo {
  position: relative;
  top: 70px;
  z-index: 1050;
  line-height: 0;
  text-align: center;
  background-color: transparent;
  outline: none;
}

#footer {
	background-color: #333;
	height: 100px;
	color: #fff;
	text-align: right;
	padding: 10px 10px 0 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}

